#landingpage {
 margin: 0;
 background-image: url('byob3.jpg');
 background-size: 1440px 800px;
 background-repeat:no-repeat;
 font: 13px/18px "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

#landingtitle{
	width:100%;
	margin-top: 25px;
	font-size:60px;
	font-weight: bold;
	font-family:"Lato", Helvetica, Arial, sans-serif;

}
.IN-widget
{
padding-top:60px;
display:inline;

}

#landingPageRow
{
	padding-top:350px;
	text-align: center;
}

#sitedesc
{
	font-size:25px;
	font-weight:300;
	line-height:1.44;
	color:wheat;
	padding-top:30px;
	font-family:"Lato", Helvetica, Arial, sans-serif;
}