#skillsHomeHeader{
	height: 90px;
	width: 100%;
	background-color:rgba(0,0,0,0.2);
	border-bottom: 5px solid grey;
}
#welcome{
	width:100%;
	margin-top: 20px;
	text-align: center;
	font-size:30px;
	font-weight: bold;

}
#skillsContainer{
	height: 950px;
	/*background-color:rgba(0,0,0,0.6);*/
}
#skillText{
	width:100%;
	margin-top: 15px;
	text-align: center;
	font-size:17px;
	font-weight: bold;
}
#skillsSelectionDiv{
	width:100%;
	height: 900px;
	margin-top: 20px;
	/*background-color:rgba(0,0,0,0.4);*/
	border:1px solid grey;
	border-radius: 25px;
}

.skillHeaderText{
	margin-left: 20px;
	text-align: left;
	font-size:20px;
	font-weight: bold;

}
  #sortable1, #sortable2 {
    border: 1px solid #eee;
    width: 300px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    margin-left: 120px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 5px 5px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 230px;
    margin-left: 30px;
    text-align: center;
  }

  #selectable{
  	height:750px;
  	margin-top: 20px;
  	margin-left: 40px;
  	margin-right: 40px;
  	/*background-color:rgba(0,0,0,0.3);*/
  }
#buttonDiv{
	margin: auto;
	width:100%;
	height: 60px;
	/*margin-left: 40px;
  	margin-right: 40px;*/
  	padding-top: 10px;
	/*background-color:rgba(0,0,0,0.4);*/
}

#getStarted{
	height: 50px;
	width:170px;
	margin-left: 450px;
	font-size: 17px;
}