#skillsHomeHeader{
	height: 90px;
	width: 100%;
	background-color:#4682B4;
	border-bottom: 4px solid #4682B4;
}
#welcome{
	width:100%;
	padding-left:20px;
	font-size:40px;
	font-weight: bold;

}
#skillsContainer{
	height: 950px;
	/*background-color:rgba(0,0,0,0.6);*/
}
#skillText{
	width:100%;
	margin-top: 40px;
	text-align: center;
	font-size:17px;
	font-weight: bold;
}
#skillsSelectionDiv{
	width:100%;
	height: 600px;
	margin-top: 20px;
	/*background-color:rgba(0,0,0,0.4);*/
	border:1px solid grey;
	border-radius: 25px;
}

.skillHeaderText{
	margin-left: 20px;
	text-align: left;
	font-size:20px;
	font-weight: bold;

}
  #sortable1, #sortable2 {
    border: 2px solid grey;
    width: 300px;
    min-height: 20px;
    list-style-type: none;
    margin: 0;
    padding: 5px 0 0 0;
    float: left;
    margin-right: 10px;
    margin-left: 120px;
  }
  #sortable1 li, #sortable2 li {
    margin: 0 7px 7px 5px;
    padding: 5px;
    font-size: 1.2em;
    width: 230px;
    margin-left: 30px;
    text-align: center;
  }

  #selectable{
  	/*height:500px;*/
  	margin-top: 20px;
  	margin-left: 40px;
  	margin-right: 40px;
  	/*background-color:rgba(0,0,0,0.3);*/
  }
#buttonDiv{
	margin: auto;
	width:100%;
	height: 60px;
	/*margin-left: 40px;
  	margin-right: 40px;*/
  	padding-top: 10px;
	/*background-color:rgba(0,0,0,0.4);*/
}

#getStarted{
	height: 50px;
	width:170px;
	margin-left: 450px;
	font-size: 17px;
}

#collapsebtn{
	height:70px;
	margin-top: 20px;
	/*background-color:rgba(0,0,0,0.4);*/
	width: 23%; 
	margin-left: 500px;
	border:1px solid grey;
	border-radius: 5px;
	font-size: 18px;
	padding-top: 10px;
	padding-left: 20px;

}
#drop-down{
	margin-left: 40%;
	font-size: 30px;
}
a:link, a:visited  {
    text-decoration: none;
}
#collapse-menu{
	padding-top: 30px;
	display: 
}

#selection-search-bar{
	width: 600px;
	height: 40px; 
	/*background-color:rgba(0,0,0,0.4);*/
	margin-left: 150px;
	float:left;
}
#go{
	float: left;
	height: 35px;
    margin-left: 20px;
    font-size: 25px;
    padding-top: 2px;
    color: #006bb3;
}
#search-bar{
	width:100%;
	height: 40px;
}
#popups{
	width: 60%;
	margin: 0 auto;
	padding-left: 20px;
}
.suggestions{
	padding-top: 10px;
	padding-bottom: 10px;
	/*background-color:rgba(0,0,0,0.1);*/
	border-bottom: 1px solid grey;
}

.bucket-header{
	float:left;
	width: 50%;
	height:50px;
	padding-top: 15px;
    font-size: 17px;
    color: #006bb3;
}

#linkedin-bucket{
	padding-left: 230px;
}
#query-bucket{
	padding-left: 150px;
}
#info-bkt{
	margin-left: 85px;
	color:grey;
}
#info-ln{
	margin-left: 50px;
	color:grey;
}
#lets-byob{
	float:left;
	padding-left: 30px;
	width: 50px;
}
#results-div{
	margin-top:30px;
	border: 1px solid grey;
	padding: 0px;
}
#filters-div{
	/*height:300px;*/
	/*padding: 30px 0px;*/
	padding: 0px;

}
#pages-div{
	padding: 0px;
}
#filter-table{
	width: 100%;
	background-color:rgba(0,0,0,0.1);
}

#filter-table tr{
	height: 60px;
	text-align: center;
}
#results-table{
	width: 100%;
	border-left: 1px solid black;
	table-layout: fixed;
}
.result-row{
	border-bottom: 1px solid grey;
}
.logo-cell{
	width:100px;
	padding-left: 20px;
}

.views-cell{
	width:100px;
	padding-left: 20px;

}
.innerRow-cell{
	width: 650px;
	padding: 0px 10px 0px 15px;
}
.innerRow-table td{
	padding:7px 5px 7px 5px ;
}
.innerRow-table .title-cell{
	padding-top: 20px;
	font-size: 18px;
	font-weight: bold;
    color: #006bb3;
}
.innerRow-table .tags-cell{
	padding-bottom: 20px;
}
.innerRow-table .desc-cell{
	font-size: 14px;
	line-height: 18px;
}
.tag-div{
	float:left;
	margin-left: 5px;
	height:15px;
	font-size: 12px;
	padding: 2px 2px 2px 2px;
	border: 1px bold black;
	color: #800020;
    background-color: #fbf0d0;
}
#advanced_search{
	margin-top:10px;
}
.myRadio{
	/*float:left;*/
	    margin: 0px 20px 0px 20px;
}